{% extends "template.html.twig" %}
{% block styleSheet %}
    <link rel="stylesheet" type="text/css" href="../../estilos-paginas/estilo-cadastro-noticia.css"/>
{% endblock %}
{% block body %}
    <div class="geral">
        <form class="form-horizontal-a" method="post" action="edicao.php?id={{noticia.id}}" style="width: 700px;"> 
            <input type="hidden" name="editar" value="1"/>
            <input type="hidden" name="id" value="{{noticia.id}}"/>
            {{mensagem}}
            <h2>Dados da Noticia</h2>
            <div class="form-group-a">
                <label  class="col-sm-2 control-label">Publicação</label>
                <div class="col-sm-10-a">
                    <input name="publicacao" type="text" class="form-control" maxlength="300" value="{{noticia.publicacao}}">
                </div>
            </div>
            <div class="form-group-a">
                <label  class="col-sm-2 control-label">Manchete</label>
                <div class="col-sm-10-a">
                    <input  name="manchete" type="text" class="form-control" id="inputEmail3" maxlength="300" value="{{noticia.manchete}}"> 
                </div>
            </div>
            <div class="form-group-a">
                <label for="inputEmail3" class="col-sm-2 control-label">Subtitulo</label>
                <div class="col-sm-10-a">
                    <input name="subtitulo" type="text" class="form-control" value="{{noticia.subtitulo}}">
                </div>
            </div>
            <div class="form-group-a">
                <label for="inputEmail3" class="col-sm-2 control-label">Imagem</label>
                <div class="col-sm-10-a">
                    <input name="imagem" type="text" class="form-control" maxlength="150" value="{{noticia.imagem}}?>">
                </div>
            </div>            
            <div class="form-group-a">
                <label for="inputEmail3" class="col-sm-2 control-label">Legenda_imagem</label>
                <div class="col-sm-10-a">
                    <input name="legenda_imagem" type="text" class="form-control" maxlength="150" value="{{noticia.legenda_imagem}}">
                </div>
            </div>
            <h2>Conteudo</h2>
            <textarea name="conteudo" class="form-control" >{{noticia.conteudo}}</textarea>
            <div class="form-group-b">
                <div class="col-sm-offset-2 col-sm-10-a">
                    <button Type="submit" class="btn btn-default" >Atualizar</button>
                </div>
            </div>
            <div class="col-sm-12-a col-md-12">
                <div class="form-group-b">
                    <div class="col-sm-offset-2 col-sm-12-a">
                        <a href="../noticias/gerenciar.php"> <button  Type="button" class="btn btn-default" >Voltar</button></a>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}