{% extends "template.html.twig" %}
{% block styleSheet %}
    <link rel="stylesheet" type="text/css" href="../../estilos-paginas/cadastro-atleta.css"/>
{% endblock %}
{% block body %}
    <form class="form-horizontal-a" method="post" action="../partida/editar.php?id={{partida.id}}" style="width: 700px;"> 
        {{mensagem}}
        <input type="hidden" name="editar" value="1"/>
        <input type="hidden" name="id" value="{{partida.id}}"/>

        <h3>Modificando a Rodada</h3>
        <div class="form-group-a">
            <label  class="col-sm-2 control-label">Rodada</label>
            <div class="col-sm-10-a">
                <input name="rodada_id" type="text" class="form-control" maxlength="60" value="{{partida.rodada_id}}"required>
            </div>
        </div> 
        <div class="form-group-a">
            <label  class="col-sm-2 control-label">Local</label>
            <div class="col-sm-10-a">
                <select name="local" id="local" >
                    <optgroup label="local">
                        <option value="maracana">Maracana</option>
                        <option value="morumbi">Morumbi</option>
                        <option value="maneGarrincha">Mané Garrincha</option>
                        <option value="mineirao">Mineirão</option>
                        <option value="castelao">Castelão</option>
                        <option value="beiraRio">Beira Rio</option>
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="form-group-a">
            <label  class="col-sm-2 control-label">data</label>
            <div class="col-sm-10-a">
                <input name="data" type="text" class="form-control" maxlength="60" value="{{partida.data}}"required>
            </div>
        </div>
        <div class="form-group-b">
            <div class="col-sm-offset-2 col-sm-10-a">
                <button type="submit" class="btn btn-default" onClick="javascript: return confirm('Realmente deseja editar a partida?');">Alterar</button>
            </div>
        </div>
        <div class="col-sm-12-a col-md-12">
            <div class="form-group-b">
                <div class="col-sm-offset-2 col-sm-12-a">
                    <a href="gerenciar.php"> <button  Type="button" class="btn btn-default" >Voltar</button></a>
                </div>
            </div>
        </div>
    </form>
{% endblock %}